# Virtual environments
venv/
.venv/

# project files
descriptions/
properties.csv
model/
images/
text_features.csv

# Python stuff
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Streamlit configs and caches
.streamlit/*.lock

# Environment files
.env
.env.*